#img-2{
    width: 60%;
    margin-left: 20%; 
    border-radius: 8px;
}

#text-item{
    text-align: center;
}

#nav-bar{
    position: sticky;
}

.slider-1{
    margin-top: 70px;
}
